<div id="status_form" style="display: none">
<% remote_form_for([user, Status.new]) do |f| -%>
	<%= f.text_area :description, :rows => 5, :cols => 30, :value => @user.current_status.nil? ? "" : @user.current_status.description %><br />
	<%= f.submit "Update status", :onclick => "$('status-message').toggle(); $('status_form').toggle();" %> or <a href="#" onclick="$('status-message').toggle(); $('status_form').toggle(); return false;">Cancel</a>
<% end -%>
</div>