<h3><%= link_to @user.name %></h3>
<% unless @status.nil? -%>
<%= render :partial => 'display_status' %>

<% else -%>
<p>hasn't posted a status yet.</p>
<% end -%>

<%= render :partial => "statuses/form", :locals => { :user => @user } %>
<div id="old-status">
	<%= render :partial => "statuses/previous", :collection => @old_statuses %>
</div>